<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="main-box">
      <div class="introduction-box">
        <h1>Login</h1>
      </div>
      <div class="input-box">
        <form method="POST" action="" class="form">
          {% csrf_token %}
            <div class="email-div">
              {{form.username}}
            </div>
            <div class="password1-div">
              {{form.password1}}
            </div>

          <input type="Submit" class="submit" />
        </form>
        {% for message in messages %}
        <p class="errors">{{message}}</p>
        {% endfor %}
        <div class="option">
          <p>Don't have an account ?. <a href="{% url 'register' %}"> Create Account</a></p>
        </div>

      </div>
    </div>
  </body>
  <script src="{% static 'js/login.js' %}"></script>
</html>